extends /component/pug/layout/_layout
include /component/pug/ui/_page-title
include /component/pug/pages/support/_faq-category
include /component/pug/pages/support/_faq-article

block prepend title
  - const pageTitle = 'サポート';

block content
  +page-title('ヘルプ', 'センター', '', 'FlowSyncの使い方や疑問点を解決するためのサポート情報')
  +faq-category
  +faq-article
