include /component/pug/ui/_logo
include /component/pug/ui/_menu-btn
include /component/pug/ui/_button
include /component/pug/ui/_nav-list

mixin header(navList)
  header#header.header
    .header__inner
      .header__header-top
        h1.header__logo
          +logo
        +menu-btn
      +nav-list("header", navList)
        .header__menu
          li.header__menu-item.login
            a.header__menu-link(href="/") ログイン
          li.header__menu-item
            +button("無料で始める", "/", "solid").header__menu-item-button
