@use 'style/_global/g-variable' as *;
@use 'style/_global/g-mixin' as *;

// ----------------------------
// default
// ----------------------------
:root {
  interpolate-size: allow-keywords;
}
html {
  @include font($font, $base-font-size, 400, 1.5);
}
a {
  text-decoration: none;
  color: var(--color-black);
}

// ----------------------------
// layout
// ----------------------------

.container {
  width: min(100%, 600px);
  padding: 2rem 2rem;
  margin-inline: auto;
  margin-block: 2rem;
}
