@use 'style/_global/g-variable' as *;
@use 'style/_global/g-mixin' as *;

// ----------------------------
// default
// ----------------------------
:root {
  interpolate-size: allow-keywords;
}
html {
  @include font($font, $base-font-size, 400, 1.5);
  font-feature-settings: 'palt';
  overflow-x: hidden;
  letter-spacing: 0.04em;
}
body {
  color: var(--text-black-100);
  overflow-x: hidden;
}
section {
  padding: 80px 16px;

  &:nth-child(2n + 3) {
    background: var(--color-gray);
  }
}
a {
  text-decoration: none;
  color: var(--color-black);
}
img {
  object-fit: cover;
}
button {
  cursor: pointer;
}
/* リサイズ中はtransitionを無効化 */
body.is-resizing * {
  transition: none !important;
}

// ----------------------------
// layout
// ----------------------------

.container {
  width: min(100%, #{$inner-width}px);
  padding-inline: $inner-padding + px;
  margin-inline: auto;
}

// ----------------------------
// common
// ----------------------------

.text-gradient {
  color: #0000;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
}
.small-text {
  text-align: center;
  margin-bottom: 36px;
  @include font($font, 14, 400, 1.5);
}

// ----------------------------
// icon-color
// ----------------------------
.icon {
  .blue {
    color: var(--color-blue);
  }
  .green,
  .enabled {
    color: var(--color-green);
  }
  .purple {
    color: var(--color-purple);
  }
  .orange {
    color: var(--color-orange);
  }
  .pink {
    color: var(--color-pink);
  }
  .yellow {
    color: var(--color-yellow);
  }
  .gray,
  .disabled {
    color: var(--color-black-80);
  }
}

// ----------------------------
// card-grid
// ----------------------------

.col {
  display: grid;
  gap: 16px;
  margin-bottom: 50px;

  grid-template-columns: 1fr;

  &-6 {
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 30px;
  }

  @include md() {
    &-2 {
      grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    }
    &-3 {
      grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }
  }
}

.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;

  gap: 16px;
  padding: 32px;
  border-radius: 8px;
}
