@use "style/_global/g-variable" as *;
@use "style/_global/g-mixin" as *;

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-black-80);
  background: var(--color-white);
  &__inner {
    width: min(100%, #{$inner-width}px);
    margin: 0 auto;
    @include lg() {
      display: flex;
      align-items: center;
      padding-inline: $inner-padding + px;
    }
  }
  &__header-top {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding: 16px $inner-padding + px;
    border-bottom: 1px solid #0000;

    transition: border-color $transition;

    @include lg() {
      display: block;
      padding: 16px 0;
    }
  }
  &.active &__header-top {
    border-color: var(--color-black-80);
    @include lg() {
      border: none;
    }
  }

  &__nav {
    display: grid;
    overflow-y: clip;
    height: 0;
    transition: height $transition;
    @include lg() {
      display: flex;
      flex: 1;
      height: auto;
      overflow-y: visible;
    }
    &-list {
      position: relative;
      display: grid;
      flex: 1;
      gap: 0.5rem;
      padding: 16px $inner-padding + px;
      border-bottom: 1px solid var(--color-black-80);
      @include lg() {
        display: flex;
        justify-content: center;
        gap: 48px;
        border: none;
      }
    }
    &-item {
      display: grid;
      position: relative;
      @include lg() {
        align-content: center;
      }
    }
    &-link {
      @include font($font, 16, 500, 1.5);
      color: var(--text-black-100);
      position: relative;
      z-index: 20;

      @include hover() {
        color: var(--primary-color-100);
        & ~ .header__submenu {
          display: block;
        }
      }
    }
  }
  &.active &__nav {
    height: auto;
  }
  &__submenu {
    padding: 8px;

    @include lg() {
      position: absolute;
      display: none;
      z-index: 1;

      width: max-content;
      top: 100%;
      left: 50%;
      translate: -50% 8px;

      padding: 16px;
      border-radius: 8px;
      background: var(--color-white-semi-80);
      border: 1px solid var(--color-black-80);
      @include hover() {
        display: block;
      }

      &::before {
        // hover補助
        content: "";
        margin: auto;
        inset: 0;
        position: absolute;
        translate: 0 -50%;
        z-index: -1;
      }

      & > * + * {
        margin-top: 8px;
      }
    }
    &-link {
      @include font($font, 14, 400, 1.5);
      color: var(--text-black-100);
      display: block;
      @include hover() {
        color: var(--primary-color-100);
      }
    }
  }

  &__menu {
    @include lg() {
      display: flex;
      align-items: center;
      gap: 48px;
    }
    &-item {
      display: grid;
      padding: 16px $inner-padding + px;
      @include lg() {
        padding: 0;
      }
      &.login {
        display: none;
        @include lg() {
          display: block;
          transition: color $hover-sec;
          @include hover() {
            & > a {
              color: var(--color-black-80);
            }
          }
        }
      }
    }
  }
  .header__menu-btn {
    @include lg() {
      display: none;
    }
  }
}
