@use 'style/_global' as *;

.plan__list.col {
  gap: 24px;
}

.plan {
  &__item {
    border: 2px solid var(--color-black-90);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    padding: 32px 32px 96px;

    position: relative;
    display: grid;
    gap: 16px;

    &:nth-of-type(2) {
      border-color: var(--color-blue-10);
      scale: 1.05 1.05;
      z-index: 1;
    }
  }
  &__detail {
    text-align: center;
    display: grid;
    gap: 8px;
  }
  &__item {
    &-tag {
      @include font($font, 14, 500, 1.5);

      position: absolute;
      top: 0;
      inset-inline: 0;
      margin: auto;
      translate: 0 -50%;

      width: fit-content;
      padding: 8px 16px;
      border-radius: 999px;

      background: var(--color-blue-10);
      color: var(--color-white);
    }
    &-title {
      @include font($font, 24, 700, 1.5);
    }
    &-price {
      width: fit-content;
      margin-inline: auto;
      display: flex;
      gap: 8px;
      align-items: baseline;
      &-num {
        @include font($font, 36, 700, 1);
        display: flex;
        align-items: baseline;
        gap: 4px;
        font-variant-numeric: tabular-nums;
        &::before {
          content: '\00A5';
          @include font($font, 24, 700, 1.5);
        }
      }
      &-unit {
        @include font($font, 16, 400, 1.5);
      }
    }
    &-description {
      @include font($font, 16, 400, 1.5);
    }
  }
}
