include /component/pug/ui/_sec-title

mixin feature-table
  -
    const features = {
      faq: ['機能', 'チームメンバー数', 'ストレージ', 'サポート', 'カスタム統合'],
      plans: [
        {
          name: 'スターター',
          menber: '最大5名様',
          strage: '5GB',
          support: 'メール',
          custom: false
        },
        {
          name: 'プロフェッショナル',
          menber: '最大25名様',
          strage: '100GB',
          support: '優先サポート',
          custom: true
        },
        {
          name: 'エンタープライズ',
          menber: '無制限',
          strage: '無制限',
          support: '24時間電話対応',
          custom: true
        }
      ]
    };


  section#feature-table.feature-table
    .container
      +sec-title('機能比較表', '各プランの詳細な機能比較')
      table.f__table
        thead.f__table-header
          tr.f__table-row
            th.f__table-head= features.faq[0]
            each plan in features.plans
              th.f__table-head= plan.name

        tbody.f__table-body
          each label, i in features.faq
            if i !== 0
              tr.f__table-row
                td.f__table-desc= label
                each plan in features.plans
                  td.f__table-desc
                    - const keys = ['menber', 'strage', 'support', 'custom'];
                    - const key = keys[i - 1];
                    if key === 'custom'
                      if plan[key]
                        span.icon: i.fa-check.enabled.fa-solid
                      else
                        span.icon: i.fa-xmark.disabled.fa-solid
                    else
                      = plan[key]
