@use 'style/_global' as *;

.team {
  &__list {
    text-align: center;
    &-item {
      display: grid;
      gap: 8px;

      padding: 24px;
      border-radius: 16px;
      background: var(--color-white);
      box-shadow: var(--box-shadow);
    }
  }
  &__person {
    &-photo {
      width: 100px;
      border-radius: calc(1px / 0);
      aspect-ratio: 1 / 1;
      object-fit: cover;
      margin-inline: auto;
    }
    &-name {
      @include font($font, 18, 700, 1.5);
      margin-bottom: 8px;
    }
    &-job {
      @include font($font, 16, 500, 1.5);
      color: var(--primary-color-100);
      margin-bottom: 8px;
    }
    &-comment {
      @include font($font, 14, 400, 1.5);
    }
  }
}
