@use 'style/_global' as *;

.our-values {
  .col {
    gap: 24px;
  }
  &__list {
    &-item {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 16px;
      background: var(--color-gray);
      padding: 24px;
      border-radius: 16px;
    }
    &-icon {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: var(--color-white);
      border: 1px solid var(--color-black-85);

      font-size: rem(24);
    }
    &-title {
      @include font($font, 20, 700, 1.25);
      margin-bottom: 16px;
    }
    &-text {
      @include font($font, 16, 400, 1.25);
    }
  }
}
