include /component/pug/ui/_sec-title
include /component/pug/ui/_button

mixin banner(title, description, ...buttons)
  section.banner
    .container
      +sec-title(title, description)
      .banner__buttons
        each btn in buttons
          +button(btn.label, btn.href, btn.style)
