mixin detail(title, desc, detailName)
  details.detail(name=detailName)
    summary.detail__summary
      .detail__summary-inner
        p.detail__sumarry-title= title
        .marker
          span.marker__line
          span.marker__line
    p.detail__desc= desc
