mixin page-title(title01, span, title02, description)
  section.page-title
    .container.page-top-sec__container
      hgroup.page-title__inner
        h2.page-title__title #{ title01 }#[span.text-gradient フロー]#{ title02 }
        p.page-title__text= description
