include /component/pug/ui/_scores

mixin user-scores
  -
    const items = [
      {
        value: '50,000+',
        label: 'アクティブユーザー',
      },
      {
        value: '150+',
        label: '導入企業',
      },
      {
        value: '99.9%',
        label: '稼働率',
      },
      {
        value: '24/7',
        label: 'サポート体制',
      },
    ]

  +scores(items)
