// ----------------------------
// container
// ----------------------------

$header-inner-width: 1200;

// ----------------------------
// font
// ----------------------------

$font: 'M PLUS 1', sans-serif;
$base-font-size: 16;

// ----------------------------
// color
// ----------------------------
:root {
  --primary-color-100: #2563eb;
  --primary-color-200: #9333ea;

  --gradient: linear-gradient(
    in oklch 90deg,
    var(--primary-color-100) 0%,
    var(--primary-color-200) 100%
  );

  --box-text-color: hsl(from var(--primary-color-100) h s calc(l - 20));
  --box-bg-color: hsl(from var(--primary-color-100) h s calc(l + 20));

  --color-green: #16a34a;
  --color-yellow: #facc15;

  --color-black: #000000;
  --color-black-60: hsl(from var(--color-black) h s calc(l + 40));
  --color-black-80: hsl(from var(--color-black) h s calc(l + 80));
  --color-black-85: hsl(from var(--color-black) h s calc(l + 85));
  --color-white: #ffffff;

  --text-black-100: var(--color-black-60);
}

// animation

$transition: 0.5s;
