include /include/pug/component/_logo

mixin header 
  -
    const navList = {
      ホーム: { ホーム: '/' },
      プロダクト: {
        機能: '/product',
        料金: '/product/price',
        API: '/product/api',
        セキュリティ: '/product/security',
      },
      プロダクト: {
        会社概要: '/campany',
        求人情報: '/carrer',
        ブログ: '/blog',
      },
      サポート: {
        ヘルプセンター: '/support',
        お問い合わせ: '/contact',
        コミュニティ: '/community',
        ドキュメント: '/document',
      },
    }

  


  header#header.header 
    .header__inner
      h1.header__logo
        +logo
      nav.header__nav 
        ul.header__nav-list
          each subNav, category in navList
            li.header__nav-item.header__nav-item--has-children
              a.header__nav-link(href=Object.values(subNav)[0])= category
              if Object.keys(subNav).length > 1
                ul.header__submenu
                  each linkHref, linkText in subNav
                    li.header__submenu-item
                      a.header__submenu-link(href=linkHref) #{linkText}


        ul.header__menu
          li.header__menu-item 
            a.header__menu-link(href="/") ログイン
          li.header__menu-item
            a.header__menu-btn(href="/") 無料で始める