extends /component/pug/layout/_layout

include /component/pug/pages/top/_mv
include /component/pug/pages/top/_feature-overview
include /component/pug/pages/top/_review-overview
include /component/pug/ui/_banner

block content
  +mv
  +feature-overview
  +review-overview
  +banner('今すぐチームの生産性を向上させましょう', '14日間の無料トライアルで、FlowSyncの威力を体験してください', { label: '無料で始める', href: '/', style: 'white-solid' }, { label: '料金を見る', href: '/product/price', style: 'white-outline' })
