extends /component/pug/layout/_layout
include /component/pug/ui/_page-title
include /component/pug/ui/_button
include /component/pug/pages/career/_our-culture
include /component/pug/pages/career/_work-environment
include /component/pug/pages/career/_jobs
include /component/pug/ui/_banner

block prepend title
  - const pageTitle = '求人情報';

block content
  +page-title('一緒に', '未来', 'を創りませんか？', 'FlowSyncで働くということは、世界中のチームの働き方を変革する 革新的なプロダクトの一部になることです。')
    +button('募集職種を見る', '/career/#job').career-button
  +our-culture
  +work-environment
  +jobs
  +banner('ご応募お待ちしております', '理想的なポジションが見つからない場合も、お気軽にご連絡ください', { label: '応募する', href: '/', style: 'white-solid' }, { label: '採用担当者に連絡', href: '/', style: 'white-outline' })
