@use 'style/_global' as *;

.support-opt {
  .hgroup {
    display: grid;
    gap: 4px;
    margin-bottom: 24px;
    .title {
      @include font($font, 24, 700, 1.5);
    }
    .sub-title {
      @include font($font, 16, 400, 1.5);
    }
  }

  &__card {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;

    .card {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-row: auto;
      grid-template-rows: auto;
      background: var(--color-white);
      border-radius: 16px;

      border: 1px solid var(--color-black-90);

      &-wrap {
        display: grid;
        gap: 4px;
      }

      &__title {
        @include font($font, 16, 600, 1.5);
      }
    }
    .icon {
      width: 50px;
      height: 50px;
      text-align: center;
      align-content: center;
      border-radius: 8px;
      background: var(--color-gray);

      font-size: rem(20);
    }
    .link {
      margin-left: 0;
    }
  }

  #opt-banner {
    display: grid;
    gap: 16px;

    padding: 32px;
    color: var(--color-white);
    background: var(--gradient);

    border-radius: 16px;
    .title {
      @include font($font, 20, 700, 1.5);
    }
    .desc {
      @include font($font, 16, 400, 1.5);
    }
    .button {
      width: fit-content;
      font-weight: 700;
    }
  }
}
