include /component/pug/pages/contact/_form
include /component/pug/pages/contact/_support-opt

mixin contact-forms
  section#contact-forms.contact-forms
    .container
      .col.col-2
        +form
        +support-opt
