@use 'style/_global' as *;

.endpoint-card {
  width: min(100%, #{$i_content-width}px);
  margin-inline: auto;

  display: grid;
  gap: 16px;
  grid-template-columns: max-content 1fr max-content;

  &__item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 3;
    padding: 16px;
    background: var(--color-gray);
    border-radius: 8px;
    .tag {
      width: auto;
      @include font($font, 14, 400, 1);
    }
    &-text {
      @include font($font, 16, 400, 1.5);
    }
    &-sub-text {
      @include font($font, 14, 400, 1.5);
      color: var(--color-black-40);
      margin-left: auto;
    }
  }
}
