@use "style/_global/g-mixin" as *;
@use "style/_global/g-variable" as *;

.info-card {
  background: var(--color-gray);

  &__icon {
    font-size: 1.5rem;
  }

  &__title {
    @include font($font, 20, 600, 1.5);
  }
  &__description {
    @include font($font, 16, 400, 1.5);
  }

  &:has(.info-card__icon) {
    grid-row: span 3;
  }
  &.white {
    background: var(--color-white);
  }
}
