@use "style/_global/g-mixin" as *;
@use "style/_global/g-variable" as *;

.col {
  display: grid;
  gap: 16px;
  margin-bottom: 50px;
  &-3 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.info-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 16px;

  padding: 32px;
  border-radius: 8px;
  background: var(--color-gray);

  &__icon {
    font-size: 1.5rem;

    .blue {
      color: var(--color-blue);
    }
    .green {
      color: var(--color-green);
    }
    .purple {
      color: var(--color-purple);
    }
  }

  &__title {
    @include font($font, 20, 600, 1.5);
  }
  &__description {
    @include font($font, 16, 400, 1.5);
  }

  &:has(.info-card__icon) {
    grid-row: span 3;
  }
}
