@use "style/_global/g-variable" as *;
@use "style/_global/g-mixin" as *;

.logo {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  @include md() {
    gap: 14px;
  }
  @include lg() {
    gap: 8px;
  }
  &__icon {
    @include font($font, 12, 700, 1.5);
    color: #fff;
    width: 32px;
    aspect-ratio: 1/ 1;
    text-align: center;
    align-content: center;

    @include md() {
      width: 48px;
      @include font($font, 18, 700, 1.5);
    }
    @include lg() {
      width: 32px;
      @include font($font, 12, 700, 1.5);
    }
  }
  &__title {
    @include font($font, 14, 700, 1.5);
    color: var(--color-black-20);
    @include md() {
      @include font($font, 24, 700, 1.5);
    }
    @include lg() {
      @include font($font, 20, 700, 1.5);
    }
  }

  &.white {
    .logo__title {
      color: var(--color-white);
    }
  }
}
