// ----------------------------
// container
// ----------------------------

$inner-padding: 16;
$inner-width: 1200 + $inner-padding * 2;

$i_content-width: 700;

// ----------------------------
// font
// ----------------------------

$font: "M PLUS 1", sans-serif;
$base-font-size: 16;

// ----------------------------
// color
// ----------------------------
:root {
  --primary-color-100: #2563eb;
  --primary-color-200: #9333ea;

  --gradient: linear-gradient(
    in oklch 90deg,
    var(--primary-color-100) 0%,
    var(--primary-color-200) 100%
  );

  --box-text-color: hsl(from var(--primary-color-100) h s calc(l - 20));
  --box-bg-color: hsl(from var(--primary-color-100) h s calc(l + 20));

  --color-blue: var(--primary-color-100);
  --color-blue-40: hsl(from var(--color-blue) h s calc(l + 40));

  --color-dark-blue-10: hsl(from var(--color-blue) h s calc(l - 10));

  --color-purple: var(--primary-color-200);

  --color-green: #16a34a;
  --color-yellow: #facc15;

  --color-gray: #f9f9f9;
  --color-white: #ffffff;

  --color-black: #000000;
  --color-black-20: hsl(from var(--color-black) h s calc(l + 20));
  --color-black-60: hsl(from var(--color-black) h s calc(l + 40));
  --color-black-80: hsl(from var(--color-black) h s calc(l + 80));
  --color-black-85: hsl(from var(--color-black) h s calc(l + 85));

  --text-black-100: var(--color-black-20);
  --text-black-80: var(--color-black-80);

  --color-banner-desc: color-mix(in srgb, var(--color-white) 80%, #0000);
  --box-shadow: 0 4px 20px 0 var(--color-black-85);

  --circle-blue: color-mix(in srgb, var(--color-blue) 20%, #0000);
  --circle-yellow: color-mix(in srgb, var(--color-yellow) 20%, #0000);
  --circle-purple: color-mix(in srgb, var(--color-purple) 20%, #0000);

  --sec-gradinet-color-01: hsl(from var(--primary-color-100) h s calc(l + 42));
  --sec-gradinet-color-02: hsl(from var(--primary-color-200) h s calc(l + 42));

  --sec-gradient: linear-gradient(
    in oklch to bottom,
    var(--sec-gradinet-color-01),
    var(--sec-gradinet-color-02)
  );
}

// ----------------------------
// animation
// ----------------------------

$transition: 0.5s;
$hover-sec: 0.2s;
