extends /component/pug/layout/_layout
include /component/pug/ui/_page-title
include /component/pug/ui/_toggle-button
include /component/pug/pages/price/_plan-sec
include /component/pug/pages/price/_feature-table
include /component/pug/ui/_banner
include /component/pug/ui/_faq

block prepend title
  -
    const pageTitle = 'プラン一覧'


block content
  +page-title('チームに最適な', 'プラン', 'を選択', '無料トライアルから始めて、チームの成長に合わせてスケールアップ。 すべてのプランにコア機能が含まれています。')
    +toggle-button('月額', '年額（20%OFF）', 'plan', '1', '2')

  +plan-sec
  +feature-table
  +faq
  +banner('今すぐ始めましょう', '14日間の無料トライアルで、FlowSyncの威力を体験してください', { label: '無料トライアル開始', href: '/', style: 'white-solid' })
